{% extends "base.html" %}
{% load cache bootstrap3 %}


{% block title %}Home{% endblock %}


{% block content %}

  <div id="homepage">
    <h1>Welcome to the SFSI Reader</h1>

    <p class="lead">Resources for the {{ semester }} SFSI Sex Educator Training.</p>

    <div class="homepage-nav">
      <h2><a href="/days/">{% bootstrap_icon 'calendar' %} Browse by Day</a></h2>
      <h2><a href="/topics/">{% bootstrap_icon 'list-alt' %} Browse by Topic</a></h2>
      <h2><a href="/key-resources/">{% bootstrap_icon 'star' %} View all Key Resources</a></h2>
      <h2><a href="/required/">{% bootstrap_icon 'exclamation-sign' %} View all Required Reading</a></h2>
      <h2><a href="/more/">{% bootstrap_icon 'globe' %} Directory of Additional Resources</a></h2>
      {% if view.show_students %}
        <h2><a href="/members/">{% bootstrap_icon 'user' %} View Your Fellow Students </a></h2>
      {% endif %}
    </div>

    <h2 class="questions">Questions or Suggestions?</h2>

    <p>
      If you have problems accessing items in the reader, or have other technical difficulties,
      please contact <a href="mailto:joel@joelburton.com">Joel</a>.
    </p>

    <p>If you have suggestions about items you think should be considered for inclusion in the
      reader,
      please use our <a href="/suggestions/">Suggestion Form</a>.</p>
  </div>

{% endblock %}


{% block portlets %}
  {% cache 600 portlets %}

  {% with latest_resources=view.latest_resources.all %}
    {% if latest_resources %}
      <div class="portlet">
        <header>Recent Resources</header>
        <ul>
          {% for resource in latest_resources %}
            <li><a href="{{ resource.get_absolute_url }}">{{ resource.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}

  {% with comment_list=view.comment_list %}
    {% if comment_list %}
      <div class="portlet">
        <header>Latest Comments</header>
        {% with show_comment_title="yes" %}
          {% include "comments/list.html" %}
        {% endwith %}
      </div>
    {% endif %}
  {% endwith %}

  {{ block.super }}

  {% endcache %}
{% endblock %}
