{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Bulk Add Members{% endblock %}

{% block content %}
  <h1>Bulk Add Members</h1>
  <p class="lead">Add students for a semester.</p>

   <form role="form" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}

            <fieldset>
                <legend>Members</legend>
                {{ member_form.management_form }}
                {{ member_form.non_form_errors }}
                {% for form in member_form %}
                    {{ form.id }}
                    <div class="inline {{ form.prefix }}">
                        {{ form.description.errors }}
                        {{ form.description.label_tag }}
                        {{ form.description }}
                      <div class="row">
                      <div class="col-md-3">
                        {% bootstrap_field form.first_name size="sm" show_label=False %}
                      </div>
                      <div class="col-md-3">
                        {% bootstrap_field form.last_name size="sm" show_label=False %}
                      </div>
                      <div class="col-md-6">
                        {% bootstrap_field form.email size="sm" show_label=False %}
                      </div>
                      </div>
                    </div>
                {% endfor %}
            </fieldset>

    {% buttons submit='Create' %}{% endbuttons %}

  </form>

{% endblock %}