body {
  padding-top: 60px;
  /* 60px to make the container go all the way to the bottom of the topbar */
}
.navbar {
  font-weight: 300;
  font-size: 100%;
}
@media (max-width: 992px) {
  .navbar {
    font-size: 90%;
  }
}
.navbar .navbar-brand {
  font-weight: 400;
  font-size: 130%;
}
@media (max-width: 992px) {
  .navbar .navbar-brand {
    font-size: 110%;
  }
}
.navbar .navbar-brand b {
  font-weight: 700;
}
.navbar a {
  font-weight: 300 !important;
}
.navbar img {
  margin-top: -5px;
}
.navbar.navbar-inverse {
  background-color: black;
}
.navbar li.active a {
  background-color: #333 !important;
}
.navbar li a:hover,
.navbar li a:active {
  background-color: red !important;
}
.navbar li a:hover .glyphicon,
.navbar li a:active .glyphicon {
  color: white;
}
.navbar li.open > a {
  background-color: black !important;
}
.navbar .dropdown-menu {
  background-color: white;
}
.navbar .dropdown-menu li a {
  color: black !important;
  font-weight: 400 !important;
}
.navbar .search-input {
  border-radius: 30px;
  margin-top: 10px;
  height: 2em;
}
.navbar-inverse {
  background-color: black;
}
.brand-sf {
  color: white;
}
.brand-si {
  color: red;
}
#footer {
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 80%;
}
@media (max-width: 768px) {
  #footer span {
    display: block;
  }
}
a {
  color: red;
}
.glyphicon-star {
  color: #cc0;
}
.glyphicon-exclamation-sign {
  color: #f33;
}
.glyphicon-globe {
  color: blue;
}
.glyphicon-calendar {
  color: green;
}
.glyphicon-list-alt {
  color: orange;
}
.glyphicon-user {
  color: purple;
}
.nav .glyphicon-bookmark {
  color: lightblue;
}
#homepage .homepage-nav {
  margin-top: 3em;
}
#homepage .homepage-nav a {
  color: inherit;
}
#homepage .homepage-nav a:hover {
  text-decoration: none;
  color: red;
}
#homepage h2 {
  font-size: 175%;
}
@media (max-width: 768px) {
  #homepage h2 {
    font-size: 150%;
  }
}
#homepage .questions {
  margin-top: 3em;
  text-transform: uppercase;
  font-size: 120%;
  font-weight: bold;
}
.breadcrumb a {
  color: black;
  font-weight: bold;
}
#topic-list {
  color: #999;
}
dt {
  margin-top: 1em;
}
dd {
  color: #333;
}
button,
input[type=submit],
input[type=button],
a.btn {
  border-radius: 5px !important;
}
.btn-primary {
  background-color: red;
  border-color: darkred;
}
.btn-primary:hover {
  background-color: darkred;
}
#search-results .highlight {
  color: #999;
  font-size: 85%;
  margin-top: 0.5em;
}
#search-results .highlight b {
  color: #666;
}
#search-results form {
  text-align: center;
}
#search-results form input[type='text'] {
  border-radius: 10px;
}
#resource-body {
  display: none;
  border: solid 1px #333;
  padding: 1em;
}
#portlet-column {
  margin-top: 3em;
}
.portlet {
  border-top: solid 1px #aaa;
  padding-top: 0.3em;
  margin-bottom: 2em;
  font-size: 90%;
}
.portlet header {
  text-transform: uppercase;
  font-size: 90%;
  font-weight: 600;
  margin-bottom: 1em;
}
.portlet ul {
  padding: 0;
}
.portlet li {
  list-style: none;
  margin-bottom: 0.5em;
}
#id_comment {
  height: 4.5em;
  width: 100%;
  font-size: 90%;
}
#comments {
  font-size: 90%;
}
#comments dt {
  color: red;
  font-weight: 600;
}
.messages {
  font-weight: 500;
}
#key-resources h2,
#required-resources h2 {
  font-size: 150%;
  margin-top: 2em;
}
