{% extends 'base.html' %}
{% load bookmarks_tags %}

{% block title %}Bookmarks{% endblock %}

{% block content %}
  <style>
    .bookmarks-list tr {
    }

    .bookmarks-list-item {
      font-size: 125%;
      width: 70%;
    }

    .bookmarks-list-created {
      width: 15%;
    }

    .bookmarks-list-widget {
      width: 15%;
    }

    .bookmarks-list-widget button {
      font-size: 80%;
      padding: 0.25em 1em;
      height: 2.5em;
    }
  </style>
  <h1>Bookmarks</h1>

  {% if bookmark_list %}
    <table class="table">

      <thead>
      <tr>
        <th>Item</th>
        <th>Bookmarked</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      {% for bookmark in bookmark_list %}

        {% with obj=bookmark.content_object %}
          <tr class="table-striped bookmarks-list">
            <td class="bookmarks-list-item"><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></td>
            <td class="bookmarks-list-created">{{ obj.created|date:"SHORT_DATE_FORMAT" }}</td>
            <td class="bookmarks-list-widget"><span
                class="pull-right">{% bookmark_widget obj %}</span></td>
          </tr>
        {% endwith %}

      {% endfor %}
      </tbody>
    </table>

  {% else %}
    <p class="text-muted">
      You have nothing bookmarked yet.
      To bookmark items, click the <span class="glyphicon glyphicon-bookmark"></span>
      <b>Bookmark</b> button while visiting a resource or a topic.
    </p>

  {% endif %}

{% endblock %}