<div class="bookmark-widget">
  <button class="bookmark-button btn btn-default input-sm {% if is_bookmarked_by_user %}active{% endif %}"
          data-href="{% url 'bookmarks:bookmark_toggle' content_type_id=content_type_id object_id=object.pk %}">
      <span class="bookmark-unbookmark {% if not is_bookmarked_by_user %}hidden{% endif %}">
          <span class="glyphicon glyphicon-bookmark"></span> Remove
      </span>
      <span class="bookmark-bookmark {% if is_bookmarked_by_user %}hidden{% endif %}">
          <span class="glyphicon glyphicon-bookmark"></span> Bookmark
      </span>
  </button>
</div>