{% extends "base.html" %}

{% block title %}Key Resources{% endblock %}
{% block page_title %}Key Resources{% endblock %}

{% block content %}

  <p class="lead">
    Our collections of the resources we think are most critical for sex educators.
  </p>

  <ul>
    {% for resource in resource_list %}
      <li>
        <span class="glyphicon glyphicon-star"></span>
        {% if resource.required %}
          <span class="glyphicon glyphicon-exclamation-sign"></span>
        {% endif %}
        <a href="{{ resource.get_absolute_url }}">{{ resource.title }}</a>
        {{ resource.description }}
      </li>
    {% endfor %}
  </ul>

{% endblock %}