{% extends "base.html" %}

{% block title %}Required Resources{% endblock %}

{% block content %}

  <h1>Required Resources</h1>
  <p class="lead">Required reading for our section on STDs.</p>

  <ul>
    {% for resource in resource_list %}
      <li>
        {% if resource.key %}<span class="glyphicon glyphicon-star"></span>{% endif %}
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <a href="{{ resource.get_absolute_url }}">{{ resource.title }}</a>
        {{ resource.description }}
      </li>
    {% endfor %}
  </ul>

{% endblock %}