{% extends "base.html" %}
{% load comments %}

{% block title %}{{ resource.title }}{% endblock %}

{% block content %}

  <h1>{{ resource.title }}</h1>
  <p class="lead">{{ resource.description }}</p>

  {% if resource.link %}
  <p>Link: <a href="{{ resource.link }}">{{ resource.link }}</a></p>
  {% endif %}

  {% if resource.file %}
    <p>File: <a href="{{ resource.file.url }}">{{ resource.title }}</a>
    <small>{{ resource.file_mimetype }}, {{ resource.file_size|filesizeformat }} bytes</small>
    </p>
  {% endif %}

  {% if user.is_staff %}
    <a class="btn btn-xs btn-primary" href="/admin/resources/resource/{{ resource.id }}">Edit</a>
  {% endif %}

{% endblock %}

{% block portlets %}
  <div class="portlet">
    <header>Comments</header>
    {% render_comment_list for resource %}

      {% get_comment_form for resource as form %}
      <form action="/comments/post/" method="POST">
        {% csrf_token %}
        {{ form.comment }}
        {{ form.content_type }}
        {{ form.object_pk }}
        {{ form.timestamp }}
        {{ form.security_hash }}
        <input type="hidden" name="next" value="{{ resource.get_absolute_url }}"/>
        <input type="submit" class="btn btn-xs btn-primary" value="Add comment" id="id_submit"/>
      </form>

  </div>

  <div class="portlet">
    <header>Resources in {{ resource.topic.title }}</header>
    <ul>
      {% for resource in resources %}
        <li><a href="{{ resource.get_absolute_url }}">{{ resource.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

  {{ block.super }}

{% endblock %}