{% extends "account/base.html" %}
{% load avatar_tags bootstrap3 %}


{% block head_title %}Avatar{% endblock %}
{% block account_nav_avatar %}active{% endblock %}

{% block account_content %}
  <h2>Update Avatar
    {% if request.user.visible %}
      <a class="pull-right btn btn-sm btn-primary"
         href="{% url 'member.detail' slug=user.username %}">View Your Public Profile</a>
    {% else %}
      <small class="pull-right text-muted">(Your profile is not visible to others)</small>
    {% endif %}
  </h2>

  <p>Your current avatar:</p>

  {% avatar user %}

  {% if not avatars %}
    <p>You haven&lsquo;t uploaded an avatar yet. Please upload one now.</p>
  {% endif %}

  <form enctype="multipart/form-data" method="POST" action="{% url 'account_avatar' %}">
    {% csrf_token %}
    {% bootstrap_form upload_avatar_form %}
    {% buttons submit="Upload New Image" %}{% endbuttons %}
  </form>
{% endblock %}

